@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #eff1fa;
    padding:0%;
    overflow: hidden;
}
iframe{
    height: 100vh;
    margin-bottom: 0px;
}
.nav-bar {
    float: left;
}

.main-body {
    float: left;
}

.nav-body{
    height: 100%;
    margin-bottom: 0px;
    user-select: none;
}

.wrapper .sidebar{
    background: rgb(184, 26, 39);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 125px;
    height: 125px;
    border-radius: 75%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h2{
    color: #ffffff;
    padding-top: 10px;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
    color: rgb(85, 134, 153);
    font-size: 14px;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 20px 30px;
    color: rgb(241, 237, 237);
    font-size: 17px;
    font-weight: 700;
    position: relative;
}

.wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}
.wrapper .sidebar ul li a:hover{
    color: #55565a;
    background:white;
}


.wrapper .sidebar ul li a:hover:before{
    display: block;
}

.right-body {
    display: inline-block;
}

html, body, .parent-container {
    height: 100%;
}

.svg-container {
    background-color: green;
    margin-top: 300px;
    margin-bottom: 100px;
}

.main-body{
    flex-grow: 100;
    text-align: center;
}

.box {
    display: flex;
}

.implemented{
    color:#ffffff;
    text-align: center;
}

.bold{
    font-weight: 800;
}

.unitbox {
    margin-top: 50px;
    margin-left: 75px;
    text-align: center;
    padding: 25px 10px;
    width: 250px;
    height: 150px;
    box-shadow: 0px 0px 5px#9a9ba0;
    background-color: #ffff;
    font-family: Impact;
}
.uTakenNum{
    font-size: 33px;
    padding-top: 5px;
    text-align: bottom;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
}
.uTakenTitle{
    font-weight: 400;
    font-size: 20px;
    color:#55565a;
    font-family: Impact;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropbtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 33px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: none;
    cursor: pointer;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
 
  .dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
 
  .dropdown:hover .dropdown-content {
    display: block;
}
  


