@@ -103,4 +119,19 @@ body.active .wrapper .section{

    html, body, .parent-container {
        height: 100%;
    }
    
    .svg-container {
        background-color: green;
        margin-top: 300px;
        margin-bottom: 100px;
    }
    
    .main-body{
        flex-grow: 100;
        text-align: center;
    }
    
    .box {
        display: flex;
    }